/* Styles go here */

.axis path,
.axis line{
  fill: none;
  stroke:black;
  shape-rendering:crispEdge;
}

.axis text{
  font-family: sans-serif;
  font-size: 10px;
}

h1{
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 12px;
}

.tick
{
  stroke-dasharray: 1, 2;
}


.centred {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
}

canvas {
/*    margin-left: auto;
    margin-right: auto;
    display: block;*/
    margin-left: -50px;
}

svg {
  margin-left: 100px;
}


.axislabels {
  fill: #989898;
  font-family: sans-serif;
  font-size: 11pt;
}

.head3 {
  color: #059eb1;
  margin-left: 150px;
}

.top-pad {
  padding-top: 40px;
}

.side-bar {
  padding-top: 50px;
}


.teal {
  color: #059eb1;
  font-family: sans-serif;
}

.grey {
  color: #727272;
}

.right-align {
  padding-top: 80px;
  text-align: center;
}

p {
  font-family: serif;
}